<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <script   src="https://code.jquery.com/jquery-1.8.0.min.js"   integrity="sha256-jFdOCgY5bfpwZLi0YODkqNXQdIxKpm6y5O/fy0baSzE="   crossorigin="anonymous"></script>
</head>
<body>

<%= yield %>

</body>
</html>
