<!DOCTYPE html>
<html>
<head>
  <title>BetterFrame</title>
  <%= stylesheet_link_tag    "better_frame/application", media: "all" %>
  <%= javascript_include_tag "better_frame/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
